n8n/exports/agra-exception-escalation.json
{
  "name": "Agra - Exception Escalation",
  "active": false,
  "nodes": [
    {
      "id": "4a68d987-075d-4a76-bdec-cb3ffbf07bf3",
      "name": "Agra - Exception Escalation Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "7a8dc6c7-ed50-4731-af06-331dd8cb4ff4",
      "name": "Open Automation Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/auth/v1/token",
        "authentication": "none",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "email": "manager@agra-demo.example",
          "password": "__AGRA_MANAGER_PASSWORD__"
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "edf950f1-7bb1-4298-ace8-94e93679c32f",
      "name": "Run OPEN_EXCEPTIONS Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/rest/v1/rpc/agra_run_monitor",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "p_kind": "OPEN_EXCEPTIONS"
        },
        "options": {
          "timeout": 20000
        }
      }
    }
  ],
  "connections": {
    "Agra - Exception Escalation Schedule": {
      "main": [
        [
          {
            "node": "Open Automation Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Automation Session": {
      "main": [
        [
          {
            "node": "Run OPEN_EXCEPTIONS Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "tags": []
}
