n8n/exports/agra-daily-operations-report.json
{
  "name": "Agra - Daily Operations Report",
  "active": false,
  "nodes": [
    {
      "id": "4bed58d2-24a9-4798-81c3-396f2604b89c",
      "name": "Agra - Daily Operations Report Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 17,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "cf1fa8c2-999e-43d7-a93a-8a458b44a2bf",
      "name": "Open Automation Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/auth/v1/token",
        "authentication": "none",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "email": "manager@agra-demo.example",
          "password": "__AGRA_MANAGER_PASSWORD__"
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "bb1aba1a-ed92-4cc0-bc71-d7dc8ef7abe5",
      "name": "Run DAILY_SUMMARY Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/rest/v1/rpc/agra_run_monitor",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "p_kind": "DAILY_SUMMARY"
        },
        "options": {
          "timeout": 20000
        }
      }
    }
  ],
  "connections": {
    "Agra - Daily Operations Report Schedule": {
      "main": [
        [
          {
            "node": "Open Automation Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Automation Session": {
      "main": [
        [
          {
            "node": "Run DAILY_SUMMARY Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "tags": []
}
