n8n/exports/agra-low-stock-check.json
{
  "name": "Agra - Low Stock Check",
  "active": false,
  "nodes": [
    {
      "id": "faed99db-54b9-4216-8c48-8aa03483b6e5",
      "name": "Agra - Low Stock Check Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      }
    },
    {
      "id": "079f778c-25bb-4397-9517-f58b2f57a192",
      "name": "Open Automation Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/auth/v1/token",
        "authentication": "none",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "email": "manager@agra-demo.example",
          "password": "__AGRA_MANAGER_PASSWORD__"
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "bf576d52-5e4c-4948-8aab-f526d7ac47d8",
      "name": "Run LOW_STOCK Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://etykyasaicfhrbbtbdfv.supabase.co/rest/v1/rpc/agra_run_monitor",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_9CUzPDO-Ep08eZUihvGuYA_0smOgJA5"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": {
          "p_kind": "LOW_STOCK"
        },
        "options": {
          "timeout": 20000
        }
      }
    }
  ],
  "connections": {
    "Agra - Low Stock Check Schedule": {
      "main": [
        [
          {
            "node": "Open Automation Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Automation Session": {
      "main": [
        [
          {
            "node": "Run LOW_STOCK Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "tags": []
}
