n8n/dispatch-control-workflow.json
{
  "name": "Paper Industry - Dispatch Control API",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paper-dispatch-control",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "9d5b2b56-1e6b-4f12-8d46-84e89a2d6001",
      "name": "POST Dispatch Control",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        -80
      ],
      "webhookId": "paper-dispatch-control"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "paper-dispatch-health",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "2c29a4d7-25a4-470f-9983-2b60c87b097f",
      "name": "GET Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        120
      ],
      "webhookId": "paper-dispatch-health"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const rawInput = $input.first()?.json ?? {};\n\nconst POLICY_VERSION = \"2026-07-15.dispatch-control.v2\";\nconst REQUIRED_DOCUMENTS = [\n  \"COMMERCIAL_INVOICE\",\n  \"DELIVERY_CHALLAN\",\n  \"PACKING_LIST\",\n  \"GATE_PASS\",\n];\nconst ROLES = [\n  \"DISPATCH_CLERK\",\n  \"WAREHOUSE_QUALITY\",\n  \"DISPATCH_SUPERVISOR\",\n  \"GATE_SECURITY\",\n  \"MANAGER_ADMIN\",\n];\nconst STATUSES = [\n  \"DRAFT\",\n  \"AWAITING_APPROVAL\",\n  \"REJECTED\",\n  \"APPROVED\",\n  \"VEHICLE_ASSIGNED\",\n  \"VEHICLE_ARRIVED\",\n  \"LOADING\",\n  \"AWAITING_WEIGHT_CHECK\",\n  \"AWAITING_DOCUMENT_CHECK\",\n  \"AWAITING_GATE_CLEARANCE\",\n  \"CLEARED_FOR_EXIT\",\n  \"DISPATCHED\",\n  \"CANCELLED\",\n];\n\nconst ACTIONS = {\n  HEALTH_CHECK: { roles: [], from: [], to: null },\n  VALIDATE_DISPATCH: { roles: [\"DISPATCH_CLERK\", \"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [\"DRAFT\", \"AWAITING_APPROVAL\"], to: \"AWAITING_APPROVAL\" },\n  CHECK_INVENTORY: { roles: [\"DISPATCH_CLERK\", \"WAREHOUSE_QUALITY\", \"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [], to: null },\n  SUBMIT_FOR_APPROVAL: { roles: [\"DISPATCH_CLERK\", \"MANAGER_ADMIN\"], from: [\"DRAFT\"], to: \"AWAITING_APPROVAL\" },\n  APPROVE_AND_RESERVE: { roles: [\"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [\"AWAITING_APPROVAL\"], to: \"APPROVED\" },\n  ASSIGN_VEHICLE: { roles: [\"DISPATCH_CLERK\", \"MANAGER_ADMIN\"], from: [\"APPROVED\"], to: \"VEHICLE_ASSIGNED\" },\n  MARK_VEHICLE_ARRIVED: { roles: [\"GATE_SECURITY\", \"MANAGER_ADMIN\"], from: [\"VEHICLE_ASSIGNED\"], to: \"VEHICLE_ARRIVED\" },\n  START_LOADING: { roles: [\"WAREHOUSE_QUALITY\", \"MANAGER_ADMIN\"], from: [\"VEHICLE_ARRIVED\"], to: \"LOADING\" },\n  COMPLETE_LOADING: { roles: [\"WAREHOUSE_QUALITY\", \"MANAGER_ADMIN\"], from: [\"LOADING\"], to: \"AWAITING_WEIGHT_CHECK\" },\n  VERIFY_WEIGHT: { roles: [\"WAREHOUSE_QUALITY\", \"MANAGER_ADMIN\"], from: [\"AWAITING_WEIGHT_CHECK\"], to: \"AWAITING_DOCUMENT_CHECK\" },\n  VERIFY_DOCUMENTS: { roles: [\"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [\"AWAITING_DOCUMENT_CHECK\"], to: \"AWAITING_GATE_CLEARANCE\" },\n  CLEAR_GATE: { roles: [\"GATE_SECURITY\", \"MANAGER_ADMIN\"], from: [\"AWAITING_GATE_CLEARANCE\"], to: \"CLEARED_FOR_EXIT\" },\n  CONFIRM_EXIT: { roles: [\"GATE_SECURITY\", \"MANAGER_ADMIN\"], from: [\"CLEARED_FOR_EXIT\"], to: \"DISPATCHED\" },\n  RESOLVE_EXCEPTION: { roles: [\"MANAGER_ADMIN\"], from: [], to: null },\n  REJECT: { roles: [\"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [\"AWAITING_APPROVAL\"], to: \"REJECTED\" },\n  CANCEL: { roles: [\"DISPATCH_SUPERVISOR\", \"MANAGER_ADMIN\"], from: [\"DRAFT\", \"AWAITING_APPROVAL\", \"APPROVED\", \"VEHICLE_ASSIGNED\", \"VEHICLE_ARRIVED\", \"LOADING\", \"AWAITING_WEIGHT_CHECK\", \"AWAITING_DOCUMENT_CHECK\", \"AWAITING_GATE_CLEARANCE\", \"CLEARED_FOR_EXIT\"], to: \"CANCELLED\" },\n};\n\nfunction parseMaybeJson(value) {\n  if (typeof value !== \"string\") return value;\n  try {\n    return JSON.parse(value);\n  } catch {\n    return value;\n  }\n}\n\nfunction normalizePayload(input) {\n  const body = parseMaybeJson(input.body);\n  if (body && typeof body === \"object\" && !Array.isArray(body)) {\n    return {\n      ...body,\n      headers: input.headers ?? body.headers,\n      query: input.query ?? body.query,\n      params: input.params ?? body.params,\n    };\n  }\n\n  if (input.query && input.query.action) {\n    return {\n      action: input.query.action,\n      actor: { role: input.query.role, name: input.query.actorName },\n      dispatch: {},\n      inventory: [],\n      query: input.query,\n      headers: input.headers,\n    };\n  }\n\n  return input;\n}\n\nfunction canonicalAction(value) {\n  const raw = String(value || \"HEALTH_CHECK\").trim().toUpperCase().replace(/[-\\s]+/g, \"_\");\n  const aliases = {\n    VALIDATE: \"VALIDATE_DISPATCH\",\n    INVENTORY_CHECK: \"CHECK_INVENTORY\",\n    RESERVE_INVENTORY: \"APPROVE_AND_RESERVE\",\n    APPROVE: \"APPROVE_AND_RESERVE\",\n    VEHICLE_ARRIVED: \"MARK_VEHICLE_ARRIVED\",\n    LOADING_COMPLETE: \"COMPLETE_LOADING\",\n    WEIGHT_CHECK: \"VERIFY_WEIGHT\",\n    DOCUMENT_CHECK: \"VERIFY_DOCUMENTS\",\n    GATE_CLEARANCE: \"CLEAR_GATE\",\n    EXIT_CONFIRMATION: \"CONFIRM_EXIT\",\n    DISPATCH: \"CONFIRM_EXIT\",\n  };\n  return aliases[raw] || raw;\n}\n\nfunction toNumber(value, fallback = 0) {\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : fallback;\n}\n\nfunction asArray(value) {\n  return Array.isArray(value) ? value : [];\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction traceId() {\n  return \"n8n-\" + Date.now().toString(36) + \"-\" + Math.random().toString(36).slice(2, 8);\n}\n\nfunction exception(code, message, severity = \"HIGH\", data = {}) {\n  return {\n    code,\n    message,\n    severity,\n    controlStatus: severity === \"LOW\" ? \"WARNING\" : \"BLOCKED\",\n    data,\n  };\n}\n\nfunction warning(code, message, data = {}) {\n  return {\n    code,\n    message,\n    severity: \"LOW\",\n    controlStatus: \"WARNING\",\n    data,\n  };\n}\n\nfunction lineProductCode(line) {\n  return line.productCode || line.product_code || line.sku || line.code || \"\";\n}\n\nfunction lineUnit(line) {\n  return line.unit || line.productUnit || line.product_unit || \"\";\n}\n\nfunction lineQty(line) {\n  return toNumber(line.requestedQty ?? line.requested_qty ?? line.quantity ?? line.qty, 0);\n}\n\nfunction batchProductCode(batch) {\n  return batch.productCode || batch.product_code || \"\";\n}\n\nfunction batchUnit(batch) {\n  return batch.unit || batch.productUnit || batch.product_unit || \"\";\n}\n\nfunction batchAvailable(batch) {\n  return Math.max(toNumber(batch.onHandQty ?? batch.on_hand_qty, 0) - toNumber(batch.reservedQty ?? batch.reserved_qty, 0), 0);\n}\n\nfunction batchQuality(batch) {\n  return batch.qualityStatus || batch.quality_status || \"PENDING_INSPECTION\";\n}\n\nfunction batchId(batch) {\n  return batch.id || batch.batchId || batch.batch_id || batch.batchNo || batch.batch_no || \"\";\n}\n\nfunction batchNo(batch) {\n  return batch.batchNo || batch.batch_no || batch.id || \"UNKNOWN_BATCH\";\n}\n\nfunction sortBatches(a, b) {\n  const producedA = a.producedOn || a.produced_on || \"\";\n  const producedB = b.producedOn || b.produced_on || \"\";\n  return String(producedA).localeCompare(String(producedB)) || String(batchNo(a)).localeCompare(String(batchNo(b)));\n}\n\nfunction activeExceptionCount(dispatch) {\n  return asArray(dispatch.exceptions).filter((item) => {\n    const unresolved = !item.resolvedAt && !item.resolved_at;\n    const controlStatus = item.controlStatus || item.control_status;\n    return unresolved && controlStatus === \"BLOCKED\";\n  }).length;\n}\n\nfunction documentType(doc) {\n  return doc.type || doc.documentType || doc.document_type || doc.name || \"\";\n}\n\nfunction documentPresent(doc) {\n  return doc.present === true || doc.exists === true || doc.received === true;\n}\n\nfunction documentVerified(doc) {\n  return doc.verified === true || doc.checked === true;\n}\n\nfunction normalizeDispatch(payload) {\n  return payload.dispatch || payload.dispatchRequest || payload.request || {};\n}\n\nfunction normalizeInventory(payload) {\n  return asArray(payload.inventory || payload.inventoryBatches || payload.batches);\n}\n\nfunction availableByProduct(inventory) {\n  const map = {};\n  for (const batch of inventory) {\n    const productCode = batchProductCode(batch);\n    if (!productCode) continue;\n    if (!map[productCode]) {\n      map[productCode] = {\n        released: 0,\n        blocked: 0,\n        pending: 0,\n        unit: batchUnit(batch),\n        batches: [],\n      };\n    }\n    const quality = batchQuality(batch);\n    const available = batchAvailable(batch);\n    if (quality === \"RELEASED\") map[productCode].released += available;\n    if (quality === \"BLOCKED\") map[productCode].blocked += available;\n    if (quality === \"PENDING_INSPECTION\") map[productCode].pending += available;\n    map[productCode].batches.push({\n      batchId: batchId(batch),\n      batchNo: batchNo(batch),\n      qualityStatus: quality,\n      availableQty: available,\n      unit: batchUnit(batch),\n    });\n  }\n  return map;\n}\n\nfunction validateLines(dispatch, inventory, exceptions, warnings) {\n  const lines = asArray(dispatch.lines);\n  const availability = availableByProduct(inventory);\n\n  if (lines.length === 0) {\n    exceptions.push(exception(\"NO_DISPATCH_LINES\", \"Dispatch must contain at least one finished-goods line.\"));\n    return { availability, reservations: [] };\n  }\n\n  const reservations = [];\n\n  for (const line of lines) {\n    const productCode = lineProductCode(line);\n    const requestedQty = lineQty(line);\n    const unit = lineUnit(line);\n    const productName = line.productName || line.product_name || productCode || \"Unknown product\";\n\n    if (!productCode) {\n      exceptions.push(exception(\"MISSING_PRODUCT_CODE\", \"A dispatch line is missing productCode.\"));\n      continue;\n    }\n    if (!unit || ![\"KG\", \"REAM\"].includes(unit)) {\n      exceptions.push(exception(\"INVALID_UNIT\", \"Line \" + productCode + \" must use KG or REAM. Automatic conversion is not allowed.\", \"HIGH\", { productCode, unit }));\n      continue;\n    }\n    if (requestedQty <= 0) {\n      exceptions.push(exception(\"INVALID_QUANTITY\", \"Line \" + productCode + \" quantity must be greater than zero.\", \"HIGH\", { productCode, requestedQty }));\n      continue;\n    }\n\n    const productAvailability = availability[productCode] || { released: 0, blocked: 0, pending: 0, unit, batches: [] };\n    const releasedBatches = inventory\n      .filter((batch) => batchProductCode(batch) === productCode && batchQuality(batch) === \"RELEASED\")\n      .filter((batch) => !batchUnit(batch) || batchUnit(batch) === unit)\n      .sort(sortBatches);\n\n    const mismatchedUnitBatches = inventory.filter((batch) => batchProductCode(batch) === productCode && batchUnit(batch) && batchUnit(batch) !== unit);\n    if (mismatchedUnitBatches.length > 0) {\n      exceptions.push(exception(\"UNIT_MISMATCH\", \"Line \" + productCode + \" uses \" + unit + \", but one or more matching batches use another unit. No unit conversion is allowed.\", \"HIGH\", { productCode, unit }));\n    }\n\n    if (productAvailability.blocked > 0) {\n      warnings.push(warning(\"QUALITY_BLOCKED_STOCK_EXISTS\", productName + \" has blocked stock that must not be dispatched.\", { productCode, blockedQty: productAvailability.blocked, unit }));\n    }\n    if (productAvailability.pending > 0) {\n      warnings.push(warning(\"PENDING_INSPECTION_STOCK_EXISTS\", productName + \" has stock pending inspection and unavailable for dispatch.\", { productCode, pendingQty: productAvailability.pending, unit }));\n    }\n    if (productAvailability.released < requestedQty) {\n      exceptions.push(exception(\"INSUFFICIENT_RELEASED_STOCK\", \"Requested \" + requestedQty + \" \" + unit + \" of \" + productName + \", but only \" + productAvailability.released + \" \" + unit + \" released stock is available.\", \"HIGH\", { productCode, requestedQty, releasedQty: productAvailability.released, unit }));\n      continue;\n    }\n\n    let remaining = requestedQty;\n    const allocation = [];\n    for (const batch of releasedBatches) {\n      if (remaining <= 0) break;\n      const available = batchAvailable(batch);\n      if (available <= 0) continue;\n      const qty = Math.min(available, remaining);\n      allocation.push({\n        batchId: batchId(batch),\n        batchNo: batchNo(batch),\n        qty,\n        unit,\n      });\n      remaining -= qty;\n    }\n\n    if (remaining > 0) {\n      exceptions.push(exception(\"RESERVATION_ALLOCATION_FAILED\", \"Released stock summary looked sufficient, but FIFO allocation could not fully reserve \" + productName + \".\", \"HIGH\", { productCode, remainingQty: remaining, unit }));\n    } else {\n      reservations.push({\n        lineId: line.id || line.lineId || null,\n        productCode,\n        productName,\n        requestedQty,\n        unit,\n        batches: allocation,\n      });\n    }\n  }\n\n  return { availability, reservations };\n}\n\nfunction validateWeight(dispatch, exceptions, warnings) {\n  const lines = asArray(dispatch.lines);\n  const expectedFromLines = lines\n    .filter((line) => lineUnit(line) === \"KG\")\n    .reduce((sum, line) => sum + lineQty(line), 0);\n  const expected = toNumber(dispatch.expectedWeightKg ?? dispatch.expected_weight_kg, expectedFromLines);\n  const actual = toNumber(dispatch.actualWeightKg ?? dispatch.actual_weight_kg, NaN);\n  const tolerance = toNumber(dispatch.weightTolerancePercent ?? dispatch.weight_tolerance_percent, 1.5);\n\n  if (expected <= 0) {\n    return {\n      required: false,\n      expectedWeightKg: 0,\n      actualWeightKg: null,\n      tolerancePercent: tolerance,\n      variancePercent: null,\n      withinTolerance: true,\n    };\n  }\n\n  if (!Number.isFinite(actual) || actual <= 0) {\n    exceptions.push(exception(\"MISSING_ACTUAL_WEIGHT\", \"Actual vehicle/loading weight is required before document check.\", \"HIGH\", { expectedWeightKg: expected }));\n    return {\n      required: true,\n      expectedWeightKg: expected,\n      actualWeightKg: null,\n      tolerancePercent: tolerance,\n      variancePercent: null,\n      withinTolerance: false,\n    };\n  }\n\n  const variancePercent = Math.abs(((actual - expected) / expected) * 100);\n  const withinTolerance = variancePercent <= tolerance;\n  if (!withinTolerance) {\n    exceptions.push(exception(\"WEIGHT_VARIANCE_EXCEEDED\", \"Actual weight variance is \" + variancePercent.toFixed(2) + \"%, above the approved \" + tolerance + \"% tolerance.\", \"HIGH\", { expectedWeightKg: expected, actualWeightKg: actual, variancePercent: Number(variancePercent.toFixed(2)), tolerancePercent: tolerance }));\n  } else if (variancePercent > tolerance * 0.75) {\n    warnings.push(warning(\"WEIGHT_VARIANCE_NEAR_LIMIT\", \"Actual weight variance is close to the allowed tolerance.\", { variancePercent: Number(variancePercent.toFixed(2)), tolerancePercent: tolerance }));\n  }\n\n  return {\n    required: true,\n    expectedWeightKg: expected,\n    actualWeightKg: actual,\n    tolerancePercent: tolerance,\n    variancePercent: Number(variancePercent.toFixed(2)),\n    withinTolerance,\n  };\n}\n\nfunction validateDocuments(dispatch, exceptions, warnings, requireVerified) {\n  const docs = asArray(dispatch.documents);\n  const byType = {};\n  for (const doc of docs) {\n    byType[documentType(doc)] = doc;\n  }\n\n  const documentReport = [];\n  for (const requiredType of REQUIRED_DOCUMENTS) {\n    const doc = byType[requiredType];\n    const present = !!doc && documentPresent(doc);\n    const verified = !!doc && documentVerified(doc);\n    documentReport.push({ type: requiredType, present, verified });\n\n    if (!present) {\n      exceptions.push(exception(\"MISSING_DOCUMENT\", requiredType + \" is missing. Gate clearance is blocked.\", \"HIGH\", { documentType: requiredType }));\n    } else if (requireVerified && !verified) {\n      exceptions.push(exception(\"DOCUMENT_NOT_VERIFIED\", requiredType + \" is present but not verified.\", \"HIGH\", { documentType: requiredType }));\n    } else if (!verified) {\n      warnings.push(warning(\"DOCUMENT_PRESENT_NOT_VERIFIED\", requiredType + \" is present but still needs verification.\", { documentType: requiredType }));\n    }\n  }\n\n  return documentReport;\n}\n\nfunction validateVehicle(dispatch, exceptions) {\n  const vehicle = dispatch.vehicle || dispatch.vehicleAssignment || {};\n  const missing = [];\n  if (!vehicle.vehicleNo && !vehicle.vehicle_no) missing.push(\"vehicleNo\");\n  if (!vehicle.transporter) missing.push(\"transporter\");\n  if (!vehicle.driverName && !vehicle.driver_name) missing.push(\"driverName\");\n  if (!vehicle.driverPhone && !vehicle.driver_phone) missing.push(\"driverPhone\");\n\n  if (missing.length > 0) {\n    exceptions.push(exception(\"VEHICLE_DETAILS_INCOMPLETE\", \"Vehicle assignment is missing: \" + missing.join(\", \") + \".\", \"HIGH\", { missing }));\n  }\n\n  return {\n    present: missing.length === 0,\n    vehicleNo: vehicle.vehicleNo || vehicle.vehicle_no || null,\n    transporter: vehicle.transporter || null,\n    driverName: vehicle.driverName || vehicle.driver_name || null,\n  };\n}\n\nfunction inventoryMutationsForReservation(reservations) {\n  return reservations.flatMap((reservation) =>\n    reservation.batches.map((batch) => ({\n      type: \"RESERVE\",\n      productCode: reservation.productCode,\n      batchId: batch.batchId,\n      batchNo: batch.batchNo,\n      qty: batch.qty,\n      unit: batch.unit,\n    }))\n  );\n}\n\nfunction inventoryMutationsForDeduction(dispatch) {\n  const mutations = [];\n  const lines = asArray(dispatch.lines);\n  for (const line of lines) {\n    const reserved = asArray(line.reservations || line.reservedBatches || line.reserved_batches);\n    if (reserved.length > 0) {\n      for (const item of reserved) {\n        mutations.push({\n          type: \"DEDUCT_RESERVED\",\n          productCode: lineProductCode(line),\n          batchId: item.batchId || item.batch_id || item.id || null,\n          batchNo: item.batchNo || item.batch_no || null,\n          qty: toNumber(item.qty ?? item.quantity ?? item.reservedQty ?? item.reserved_qty, 0),\n          unit: lineUnit(line),\n        });\n      }\n    } else {\n      mutations.push({\n        type: \"DEDUCT_RESERVED\",\n        productCode: lineProductCode(line),\n        batchId: null,\n        batchNo: null,\n        qty: lineQty(line),\n        unit: lineUnit(line),\n        note: \"No batch-level reservation details supplied. Deduct from existing reservations in database.\",\n      });\n    }\n  }\n  return mutations;\n}\n\nconst payload = normalizePayload(rawInput);\nconst action = canonicalAction(payload.action || payload.operation || payload.event);\nconst dispatch = normalizeDispatch(payload);\nconst inventory = normalizeInventory(payload);\nconst actor = payload.actor || {};\nconst actorRole = payload.role || payload.actorRole || actor.role || null;\nconst actorName = payload.actorName || actor.name || \"n8n dispatch control\";\nconst currentStatus = dispatch.status || payload.status || null;\nconst trace = payload.traceId || traceId();\nconst exceptions = [];\nconst warnings = [];\nconst actionConfig = ACTIONS[action];\n\nlet reservations = [];\nlet inventoryMutations = [];\nlet availability = {};\nlet weightReport = null;\nlet documentReport = [];\nlet vehicleReport = null;\nlet recommendedNextStatus = null;\nlet nextRequiredRole = null;\n\nif (!actionConfig) {\n  exceptions.push(exception(\"UNKNOWN_ACTION\", \"Unknown dispatch workflow action: \" + action + \".\", \"HIGH\", { action }));\n} else if (action === \"HEALTH_CHECK\") {\n  recommendedNextStatus = currentStatus;\n} else {\n  if (!actorRole) {\n    exceptions.push(exception(\"MISSING_ACTOR_ROLE\", \"actor.role is required for controlled workflow actions.\", \"HIGH\", { action }));\n  } else if (!ROLES.includes(actorRole)) {\n    exceptions.push(exception(\"INVALID_ACTOR_ROLE\", \"Invalid actor role: \" + actorRole + \".\", \"HIGH\", { actorRole }));\n  } else if (actionConfig.roles.length > 0 && !actionConfig.roles.includes(actorRole)) {\n    exceptions.push(exception(\"ROLE_NOT_AUTHORIZED\", actorRole + \" cannot perform \" + action + \".\", \"HIGH\", { action, actorRole, allowedRoles: actionConfig.roles }));\n  }\n\n  if (actionConfig.from.length > 0) {\n    if (!currentStatus || !STATUSES.includes(currentStatus)) {\n      exceptions.push(exception(\"INVALID_CURRENT_STATUS\", \"A valid current workflow status is required for \" + action + \".\", \"HIGH\", { currentStatus }));\n    } else if (!actionConfig.from.includes(currentStatus)) {\n      exceptions.push(exception(\"STATUS_TRANSITION_NOT_ALLOWED\", action + \" cannot run from \" + currentStatus + \".\", \"HIGH\", { currentStatus, allowedFrom: actionConfig.from }));\n    }\n  }\n\n  if ([\"VALIDATE_DISPATCH\", \"CHECK_INVENTORY\", \"SUBMIT_FOR_APPROVAL\", \"APPROVE_AND_RESERVE\"].includes(action)) {\n    const result = validateLines(dispatch, inventory, exceptions, warnings);\n    availability = result.availability;\n    reservations = result.reservations;\n    if (action === \"APPROVE_AND_RESERVE\") {\n      inventoryMutations = inventoryMutationsForReservation(reservations);\n    }\n  }\n\n  if ([\"ASSIGN_VEHICLE\", \"MARK_VEHICLE_ARRIVED\", \"START_LOADING\", \"COMPLETE_LOADING\", \"CLEAR_GATE\", \"CONFIRM_EXIT\"].includes(action)) {\n    vehicleReport = validateVehicle(dispatch, exceptions);\n  }\n\n  if ([\"VERIFY_WEIGHT\", \"CLEAR_GATE\", \"CONFIRM_EXIT\"].includes(action)) {\n    weightReport = validateWeight(dispatch, exceptions, warnings);\n  }\n\n  if ([\"VERIFY_DOCUMENTS\", \"CLEAR_GATE\", \"CONFIRM_EXIT\"].includes(action)) {\n    documentReport = validateDocuments(dispatch, exceptions, warnings, action !== \"VERIFY_DOCUMENTS\");\n  }\n\n  if ([\"CLEAR_GATE\", \"CONFIRM_EXIT\"].includes(action) && activeExceptionCount(dispatch) > 0) {\n    exceptions.push(exception(\"ACTIVE_EXCEPTIONS_EXIST\", \"Dispatch has unresolved exceptions. Manager/Admin must resolve them before gate exit.\", \"HIGH\", { activeExceptionCount: activeExceptionCount(dispatch) }));\n  }\n\n  if (action === \"CONFIRM_EXIT\") {\n    inventoryMutations = inventoryMutationsForDeduction(dispatch);\n  }\n\n  if (action === \"RESOLVE_EXCEPTION\") {\n    if (currentStatus === \"AWAITING_WEIGHT_CHECK\") recommendedNextStatus = \"AWAITING_DOCUMENT_CHECK\";\n    else if (currentStatus === \"AWAITING_DOCUMENT_CHECK\") recommendedNextStatus = \"AWAITING_GATE_CLEARANCE\";\n    else if (currentStatus === \"REJECTED\") recommendedNextStatus = \"AWAITING_APPROVAL\";\n    else recommendedNextStatus = currentStatus;\n  }\n\n  if (!recommendedNextStatus) {\n    recommendedNextStatus = exceptions.some((item) => item.controlStatus === \"BLOCKED\")\n      ? (currentStatus || null)\n      : actionConfig.to || currentStatus || null;\n  }\n\n  if (recommendedNextStatus === \"AWAITING_APPROVAL\") nextRequiredRole = \"DISPATCH_SUPERVISOR\";\n  if (recommendedNextStatus === \"APPROVED\") nextRequiredRole = \"DISPATCH_CLERK\";\n  if (recommendedNextStatus === \"VEHICLE_ASSIGNED\") nextRequiredRole = \"GATE_SECURITY\";\n  if (recommendedNextStatus === \"VEHICLE_ARRIVED\" || recommendedNextStatus === \"LOADING\" || recommendedNextStatus === \"AWAITING_WEIGHT_CHECK\") nextRequiredRole = \"WAREHOUSE_QUALITY\";\n  if (recommendedNextStatus === \"AWAITING_DOCUMENT_CHECK\") nextRequiredRole = \"DISPATCH_SUPERVISOR\";\n  if (recommendedNextStatus === \"AWAITING_GATE_CLEARANCE\" || recommendedNextStatus === \"CLEARED_FOR_EXIT\") nextRequiredRole = \"GATE_SECURITY\";\n}\n\nconst hasBlock = exceptions.some((item) => item.controlStatus === \"BLOCKED\");\nconst controlStatus = hasBlock ? \"BLOCKED\" : warnings.length > 0 ? \"WARNING\" : \"CLEAR\";\nconst ok = !hasBlock;\nconst auditNote = ok\n  ? action + \" passed dispatch controls.\"\n  : action + \" blocked by \" + exceptions.map((item) => item.code).join(\", \") + \".\";\n\nreturn [\n  {\n    json: {\n      ok,\n      httpStatus: ok ? 200 : 422,\n      policyVersion: POLICY_VERSION,\n      traceId: trace,\n      receivedAt: nowIso(),\n      action,\n      requestNo: dispatch.requestNo || dispatch.request_no || null,\n      dispatchId: dispatch.id || null,\n      currentStatus,\n      recommendedNextStatus,\n      nextRequiredRole,\n      controlStatus,\n      exceptions,\n      warnings,\n      reservations,\n      inventoryMutations,\n      report: {\n        lineCount: asArray(dispatch.lines).length,\n        availability,\n        weight: weightReport,\n        documents: documentReport,\n        vehicle: vehicleReport,\n      },\n      auditEvent: {\n        dispatchId: dispatch.id || null,\n        requestNo: dispatch.requestNo || dispatch.request_no || null,\n        actorName,\n        actorRole,\n        action,\n        fromStatus: currentStatus,\n        toStatus: recommendedNextStatus,\n        controlStatus,\n        note: auditNote,\n        at: nowIso(),\n        traceId: trace,\n      },\n      uiMessage: ok\n        ? \"Control check passed. Recommended next status: \" + (recommendedNextStatus || \"unchanged\") + \".\"\n        : \"Control check blocked. Review exceptions before proceeding.\",\n    },\n  },\n];"
      },
      "id": "647b6752-1e2b-4dfa-82c1-6f5f73412ed5",
      "name": "Evaluate Dispatch Controls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    }
  ],
  "connections": {
    "POST Dispatch Control": {
      "main": [
        [
          {
            "node": "Evaluate Dispatch Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Health Check": {
      "main": [
        [
          {
            "node": "Evaluate Dispatch Controls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-07-15T00:00:00.000Z",
  "versionId": "73598591-89f0-40fd-a777-e23e611cb41b"
}
